.icon-step{
    color: #567189;
    transform: scale(1.2);
}

.signup-container{
    width: 100%;
    height: 100vh; 
    padding-left: 200px;
    padding-right: 200px;
    background: rgb(255,244,207);
    background: radial-gradient(circle, rgba(255,244,207,1) 15%, rgba(204,230,222,1) 100%);
}

.signup-container .rounded-container{
    width: 100%;
    height: 100vh; 
    border-radius: 0% 40% 0% 40%;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #FBFBFB;;
}

@media only screen and (max-width: 1199px){
    .signup-container{ 
        background: #FBFBFB;
    }
}

@media only screen and (min-width: 1200px){
    .signup-container{ 
        background: rgb(255,244,207);
        background: radial-gradient(circle, rgba(255,244,207,1) 15%, rgba(204,230,222,1) 100%);
    }
}

.next{
    display: flex;
    justify-content: flex-end;
}

.back{
    display: flex;
    justify-content: flex-start;
}

.next-button{
    background-color: #c0e8dc;
    font-size: 16px;
    padding: 5px 30px;
    cursor: pointer;
    border: none;
}

.back-button{
    background-color: #D6E4E5;
    font-size: 16px;
    padding: 5px 30px;
    cursor: pointer;
    border: none;
}

.pass-requirements{
    width: 100%;
    height: max-content;
    padding-bottom: 4%;
}

ul{
    margin-left: 60px;
}

p{
    font-size: 15px;
}

li{
    font-size: 15px;
}